.add-doctor {
  height: 70vh;
  margin-top: 30px;
  width: 600px;
  background-color: #145567;
  margin-left: 40px;
  border-radius: 5px;
  float: left;
  box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.43);
}
.doctor-form {
  padding: 30px;
}

.data-container {
  margin-top: 30px;
  width: 50%;
  height: 70vh;
  border-radius: 5px;
  background-color: #f7f7f7;
  float: right;
  margin-right: 40px;
  box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 30px -2px rgba(0, 0, 0, 0.43);
}
input {
  width: 90%;
  float: left;
  margin-left: 3%;
  margin-bottom: 20px;
  height: 30px;
}

select {
  width: 92%;
  float: left;
  margin-left: 3%;
  margin-bottom: 20px;
  height: 30px;
}

button {
  width: 30%;
  margin-left: 32%;
  height: 30px;
}

.row-item {
  width: 85%;
  margin: 0 auto;
  float: left;
  height: 55px;
  margin-bottom: 25px;
  background-color: #ffffff;
  padding-left: 15px;
  margin-left: 5%;
  border-radius: 5px;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.18);
}
.row_item p {
  float: left;
  margin-right: 15px;
}
#patientName {
  width: 280px;
  text-align: center;
  border-radius: 15px;
  height: 40px;
  outline: none;
  opacity: 0.8;
}
#surname {
  width: 200px;
  border-radius: 15px;
  height: 40px;
  outline: none;
  opacity: 0.8;
  text-align: center;
}
#age {
  width: 200px;
  border-radius: 15px;
  height: 40px;
  outline: none;
  opacity: 0.8;
  text-align: center;
}
#doctor {
  width: 200px;
  border-radius: 15px;
  height: 40px;
  outline: none;
  opacity: 0.8;
  text-align: center;
}
/* doctor component css */
h5 {
  text-align: center;
}
.drCard {
  background-color: white;
  height: 200px;
  width: 160px;
  float: right;
  color: #145567;
  margin: auto;
  margin-right: 2rem;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.18);
}
.drCard p {
  margin-left: 10px;
}
button {
  border-radius: 10px;
  margin-top: 5px;
  background-color: #145567;
}
