@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600&display=swap");

.appointmentsTbl {
  width: 80%;
  height: 55vh;
  padding: 2%;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 35px;
  color: #145567;
  margin-right: 5%;
  overflow: scroll;
  width: 45%;
  margin-left: 2%;
}
.appointments-tbl p {
  margin-right: 10%;
}
.home-element {
  height: 45vh;
  width: 50%;
  float: right;
  border-radius: 10px;
  margin-top: -420px;
  margin-right: 40px;
  color: white;
  text-align: center;
  box-shadow: 10px 10px 66px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 66px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 66px -14px rgba(0, 0, 0, 0.75);
  background-color: #145567;
  text-align: center;
}
.add-appointment {
  box-shadow: 10px 10px 66px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 66px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 66px -14px rgba(0, 0, 0, 0.75);
  margin-top: -80px;
  float: right;
  width: 50%;
  margin-right: 40px;
  background-color: #145567;
  border-radius: 10px;
  z-index: 1;
  height: 40vh;
  color: white;
}
.home-element form {
  margin-left: 50px;
  margin-top: 30px;
}
/* ADDING STYLING FOR .add-appointment */

#patient-name {
  width: 200px;
  border-radius: 15px;
  height: 40px;
  outline: none;
  opacity: 0.8;
}
#time {
  float: left;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  outline: none;
  opacity: 0.8;
}
#date {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  outline: none;
  opacity: 0.8;
}
#doctor {
  float: left;
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 15px;
  opacity: 0.8;
}
#doctorsRoom {
  width: 200px;
  float: left;
  height: 40px;
  border-radius: 15px;
  outline: none;
  opacity: 0.8;
}

#logout {
  float: right;
  margin-top: 30px;
  outline: white;
  border: none;
  color: #145567;
  margin-right: 20px;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
}
#addAppointment {
  margin: auto;
  margin-top: 80px;
  height: 50px;
  background-color: white;
  color: #145567;
}
