body {
  margin: 0;
  padding: 0%;
}
h1 {
  text-align: center;
}
.email-reg {
  margin: auto;
  width: 50%;
}
.password-reg {
  margin: auto;
  width: 50%;
}
#submit-reg {
  height: 40px;
}
.reg-form {
  width: 50%;
  margin-left: 100px;
  margin-top: 5px;
  align-items: center;
  float: left;
}
.name-reg {
  margin: auto;
  width: 50%;
  float: left;
  margin-right: 2%;
}
.surname-reg {
  margin: auto;
  width: 50%;
  float: right;
}
.email-reg {
  margin: auto;
  width: 50%;
  float: left;
}
.password-reg {
  margin: auto;
  width: 50%;
  float: right;
}
.age-reg {
  margin: auto;
  width: 50%;
  float: left;
}
.gender-reg {
  margin: auto;
  width: 50%;
  float: right;
}
.aid-reg {
  margin: auto;
  width: 50%;
  float: left;
}
#reg-img {
  float: right;
}
